<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<%- include("./partials/header.ejs") %>

<body>

    <form class="formulario-login">
        <fieldset>
            <legend>Login</legend><br>
            <label for="cuenta">Nombre de Usuario</label>
            <input type="text"><br>
            <br>
            <label for="password">Contraseña</label>
            <input type="password"><br>
            <br>
            <input type="submit" value="INGRESAR">
            <input type="reset" value="CANCELAR">
            <br>
            <br>
        </fieldset>
    </form>
    
</body>

<!-- Footer section -->
<%- include("./partials/footer.ejs") %>
<!-- end of footer section -->

</main>
<!-- end of main -->

</body>

</html>