<footer>
    <p id="footer">
        </h3p>
    <div class="footer">
        <div class="support">
            <ul>
                <h3>Quienes somos..</h3>
                <li><a href="#" id="about">Sobre nosotros</a></li>
                <br>
                <li><a href="#" id="terms">Términos y Condiciones</a></li>
                <br>
                <li><a href="#" id="privacy">Políticas Privadas</a></li>
            </ul>
        </div>

        <div class="social-media">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <ul>
                <h3>Contactanos</h3>
                <div class="container">
                </div>
                <div class="social">
                    <a href="#" class="fa fa-facebook"></a>Facebook</a>
                    <br>
                    <br>
                    <a href="#" class="fa fa-twitter"></a>Twitter</a>
                    <br>
                    <br>
                    <a href="#" class="fa fa-instagram"></a>Instagram</a>
                    <br>
                </div>
            </ul>
        </div>

        <div class="address">
            <h3>Dirección</h3>
            <p>Calle desconocida 321</p>
            <p>Teléfono : 0303456</p>
            <p>Código postal: 4321</p>
        </div>
    </div>

    <div id="copyright">
        <p>&#169 : Impresiones 3D 2022, All Rights Reserved</p>
    </div>
</footer>