<header>

    <div class="nav-logo">
        <a href="/">
            <picture>
                <img src="/img/products/logo.png" class="logo">
            </picture>
        </a>
    </div>

    <div>
        <br>
        <br>
        <form action="search.php">
            <input type="text">
            <input type="submit" value="Buscar">
        </form>
        <br>
        <br>
        <a href="/" class="inicio">Inicio</a> <br><br>
        <a href="/products/create" class="productsCreate">Crear producto</a>
        <br>
        <br>
        <br>
    </div>

    <div class="menu">
        <nav>
            <br>
            <a href="#decoracion" class="decoracion">Decoración</a>
            <br>
            <br>
            <a href="#mates" class="mates">Mates</a>
            <br>
            <br>
            <a href="#animacion" class="animacion">Animación</a>
            <br>
            <br>
            <a href="#macetas" class="macetas">Macetas</a>
            <br>
            <br>
            <a href="#harry-potter" class="harry-potter">Harry Potter</a>
            <br>
            <br>
        </nav>
    </div>

    <div class="register-login">
        <br>
        <br>
        <a href="/register">Registrate<i class="far fa-id-card"></i></a>
        <br>
        <br>
        <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
    </div>

    <div class="access">

        <br>
        <br>
        <br>
        <a href="#" id="cart"><i class="fa fa-shopping-cart"></i></a>
    </div>


</header>